spring:
  application:
    name: mb-test

  datasource:
    url: jdbc:h2:mem:mbTestDb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  # Enable the H2 web console
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9000
          audience: mb-test-api

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  springdoc:
    swagger-ui:
      enabled: true
      path: /swagger-ui.html
